In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from cryptography.fernet import Fernet
import re
import datetime as dt

In [2]:
dfPrinc = pd.read_csv('../dfPrincipal.csv')

In [18]:
dfPrinc

,Unnamed: 0,SEXO,DT_NASCIMENTO,FORMA_INGRESSO,FORMA_EVASAO,PERIODO_INGRESSO,DT_EVASAO,PERIODO_EVASAO,PER_EVASAO_FORMAT,ANO_EVASAO,PER_INGRESSO_FORMAT,ANO_INGRESSO
0,0,M,1982-02-09,VE - Vestibular,CON - Curso concluído,2,2009-09-14,2.0,2009.2,2009.0,2002.2,2002
1,1,M,1977-05-09,VE - Vestibular,ABA - Abandono do curso,1,2005-03-12,2.0,2005.2,2005.0,2004.1,2004
2,2,M,1985-03-05,VE - Vestibular,Não identificada (vide pasta do aluno),1,2003-01-06,1.0,2003.1,2003.0,2003.1,2003
3,3,M,1988-07-18,SISU Ampla Concorrencia,CON - Curso concluído,2,2018-03-23,2.0,2017.2,2017.0,2013.2,2013
4,4,M,2002-07-02,"SISU Escola Pública, Indep. de Renda : Preto e...",Sem evasão,1,NaN,NaN,nan.,NaN,2020.1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
1255,1255,M,2000-07-22,SISU Ampla Concorrencia,Sem evasão,1,NaN,NaN,nan.,NaN,2020.1,2020
1256,1256,M,1996-02-07,"SISU Escola Publica, Indep de Renda: Preto, Pa...",CAN - Cancelamento Geral do curso,2,2014-12-16,2.0,2014.2,2014.0,2014.2,2014
1257,1257,M,1992-03-29,VE - Vestibular,CON - Curso concluído,1,2015-03-17,1.0,2015.1,2015.0,2009.1,2009
1258,1258,M,1991-02-17,EN - ENEM,CON - Curso concluído,1,2013-05-17,1.0,2013.1,2013.0,2009.1,2009
1259,1259,M,1986-04-07,VE - Vestibular,JUB - Jubilamento,2,2013-08-23,1.0,2013.1,2013.0,2007.2,2007

### Analise Dados Alunos



--- 

### Grupos de Alunos

| /                           |Todos os Alunos | Antes de 2013 | De 2013 até 2020 | De 2020 até 2021 
| -----------                 | -----------    |  -----------  | -----------      | -----------     | 
Análise da % de conclusão     | x              |  -----------  | -----------      | -----------     | 
Análise da % de genero        | x              |  -----------  | -----------      | -----------     | 
Análise do perfil de idade    | -----------    |  -----------  | -----------      | -----------     | 
Análise da distancia          | -----------    |  -----------  | -----------      | -----------     | 
Análise do rendimento escolar | -----------    |  -----------  | -----------      | -----------     | 
Análise da % de conclusão     | -----------    |  -----------  | -----------      | -----------     |

## Análise da % de conclusão(Todos os Alunos)

In [8]:
evasoesDF = dfPrinc.groupby(['ANO_EVASAO','FORMA_EVASAO'], dropna=False).size().reset_index(name='ALUNOS')

In [9]:
evasoesDF['FORMA_EVASAO'] = evasoesDF.FORMA_EVASAO.str.replace('ABA - Abandono do curso', 'Evasão') 
evasoesDF['FORMA_EVASAO'] = evasoesDF.FORMA_EVASAO.str.replace('APO - Aluno Especial - Disciplina Isolada', 'Evasão') 
evasoesDF['FORMA_EVASAO'] = evasoesDF.FORMA_EVASAO.str.replace('APO -Conclusão a Mobilidade Acadêmica Externa - ANDIFES', 'Evasão') 
evasoesDF['FORMA_EVASAO'] = evasoesDF.FORMA_EVASAO.str.replace('APO -Conclusão da Mobilidade Acadêmica Externa - IAE/IESCE', 'Evasão') 
evasoesDF['FORMA_EVASAO'] = evasoesDF.FORMA_EVASAO.str.replace('Desistência SiSU', 'Evasão') 
evasoesDF['FORMA_EVASAO'] = evasoesDF.FORMA_EVASAO.str.replace('JUB - Jubilamento', 'Evasão') 
evasoesDF['FORMA_EVASAO'] = evasoesDF.FORMA_EVASAO.str.replace('CAN - Cancelamento Geral do curso', 'Evasão') 
evasoesDF['FORMA_EVASAO'] = evasoesDF.FORMA_EVASAO.str.replace('CON - Curso concluído', 'Concluído') 
evasoesDF['FORMA_EVASAO'] = evasoesDF.FORMA_EVASAO.str.replace('Sem evasão', 'Cursando')

In [10]:
evasoesDF.loc[evasoesDF['FORMA_EVASAO'] == 'Não identificada (vide pasta do aluno)' , 'FORMA_EVASAO'] = 'Evasão'

In [11]:
evasoesDF = evasoesDF.groupby(['FORMA_EVASAO'] , as_index=False)['ALUNOS'].sum()

In [12]:
# Mostra porcentagem de alunos
evasoesDF['percent'] =  (100. * evasoesDF['ALUNOS'] / evasoesDF['ALUNOS'].sum()).round(0)

In [13]:
evasoesDF

  FORMA_EVASAO  ALUNOS  percent
0    Concluído     335     27.0
1     Cursando     418     33.0
2       Evasão     507     40.0

---

## Análise da % de gênero

In [14]:
generoDF = dfPrinc.groupby(['SEXO'], dropna=False).size().reset_index(name='ALUNOS')

In [16]:
generoDF['percent'] =  (100. * generoDF['ALUNOS'] / generoDF['ALUNOS'].sum()).round(0)

In [17]:
generoDF

  SEXO  ALUNOS  percent
0    F     238     19.0
1    M    1022     81.0

## Análise do perfil de idade

In [72]:
idadeDF = dfPrinc.groupby(['DT_NASCIMENTO'], dropna=True).size().reset_index(name='ALUNOS')

In [73]:
idadeDF

     DT_NASCIMENTO  ALUNOS
0       1954-03-19       1
1       1954-04-07       1
2       1954-11-02       1
3       1954-12-06       1
4       1957-02-06       1
...            ...     ...
1158    2003-09-06       1
1159    2003-10-06       1
1160    2003-10-19       1
1161    2003-11-06       1
1162    2003-11-07       1

[1163 rows x 2 columns]

In [77]:
idadeDF['DT_NASCIMENTO'] = pd.to_datetime(idadeDF['DT_NASCIMENTO'])

In [78]:
from datetime import datetime

def getIdade(dt_nascimento):
    #born = datetime.strptime(dt_nascimento, "%d.%m.%Y")
    today = date.today()
    return today.year - dt_nascimento.year - ((today.month, today.day) < (dt_nascimento.month, dt_nascimento.day))

In [79]:
idadeDF['idade'] = idadeDF['DT_NASCIMENTO'].apply(getIdade)

In [80]:
idadeDF.dtypes

DT_NASCIMENTO    datetime64[ns]
ALUNOS                    int64
idade                     int64
dtype: object

In [81]:
idadeDF['idade'] = idadeDF['idade'].astype(int)

In [82]:
idadeDF

     DT_NASCIMENTO  ALUNOS  idade
0       1954-03-19       1     68
1       1954-04-07       1     68
2       1954-11-02       1     67
3       1954-12-06       1     67
4       1957-02-06       1     65
...            ...     ...    ...
1158    2003-09-06       1     18
1159    2003-10-06       1     18
1160    2003-10-19       1     18
1161    2003-11-06       1     18
1162    2003-11-07       1     18

[1163 rows x 3 columns]